@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'variables';
@import 'reset';

body{
    font-family: 'Inter', sans-serif;
}

.box-container{
    width: 1200px;
    margin: auto;
}

.header{
    width: 100%;
    display: flex;
    background: $mainColor;

    .header__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.title-component{
    font-size: 24px;
    font-weight: 600;
    color: $blackColor;
}

.header_main{
    padding: 40px 0 28px 0;
}

.header_page{
    height: 100px;
    display: flex;
    align-items: center;
}

.navigation-component{
    display: flex;
    align-items: center;

    li{
        font-size: 14px;

        a{
            text-decoration: none;
            color: $blackColor;
            
            &:hover{
                color: $blueColor;
            }
        }
    }

    li+li{
        margin-left: 40px;
    }
}

.btn-component{
    height: 44px;
    padding: 0 20px;
    color: #fff;
    background: $blueColor;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.footer{
    padding-bottom: 50px;
    .footer__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer__nav{
            display: flex;
            align-items: center;
        }
    }
}

.btn-component_footer{
    margin-left: 40px;
}

.footer_margin{
    margin-top: 150px;
}

.header__big{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__big-text{
        width: 583px;

        h2{
            font-weight: 700;
            font-size: 54px;
            line-height: 130%;
            color: $blackColor;
        }

        p{
            margin-top: 24px;
            color: $grayColor;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.02em;
            width: 477px;
        }

        .btn-component_header{
            padding: 0 40px;
            font-size: 16px;
            margin-top: 49px;
        }
    }

    .header__big-ava{
        position: relative;

        .header__big-ava-round-dashed{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 572px;
            height: 572px;
            border-radius: 50%;
            border: 4px dashed $blueColor;
    
            .header__big-ava-round{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                width: 491px;
                height: 491px;
                background: $blueColor;
                border-radius: 50%;
                overflow: hidden;
    
                img{
                    width: 95%;
                    object-fit: contain;
                }
            }
        }

        .header__big-ava-says{
            position: absolute;
            right: 50px;
            top: 50px;
            
            .header__big-ava-says-text{
                width: 172px;
                padding: 24px 16px;
                font-size: 13px;
                color: $blackColor;
                border-radius: 8px;
                background: #fff;
                box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
            }

            .header__big-ava-says-triangle{
                position: absolute;
                top: 100%;
                left: 36px;
                border: 20px solid transparent; 
                border-left: 20px solid #fff; 
                border-top: 20px solid #fff;
            }
        }

        .header__big-ava-skills{
            position: absolute;
            left: -49px;
            top: 208px;
            width: 224px;
            padding: 28px;
            box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
            background: #fff;
            border-radius: 8px;

            .progress-title{
                font-size: 14px;
                color: $blackColor;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .progress-block{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label{
                    font-size: 12px;
                    color: $blackColor;
                }

                progress{
                    width: 100%;
                    margin-top: 5px;
                    height: 10px;
                }
            }

            .progress-block+.progress-block{
                margin-top: 10px;
            }
        }
    }
}

.page-wrapper{
    margin-top: 50px;
}

.section-component{
    width: 100%;

    .section-component__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        width: 100%;

        h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 125%;
            max-width: 495px;
        }

        p{
            font-size: 14px;
            color: $grayColor;
            max-width: 495px;
            margin-top: 7px;
        }
    }
}

.section-component_margin{
    margin-top: 100px;
}

.skill-block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .skill-block__card{
        width: 307px;
        height: 276px;
        padding: 40px;
        border-top: 3px solid $blueColor;
        box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);

        h4{
            font-size: 24px;
            font-weight: 700;
            color: $blackColor;
            margin-top: 21px;
        }

        p{
            font-size: 14px;
            color: $grayColor;
            line-height: 150%;
            margin-top: 12px;
        }
    }
}

.partfolio-block{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -60px;

    .partfolio-card{
        margin-left: 30px;
        margin-top: 60px;

        h4{
            font-weight: 700;
            color: $blackColor;
            margin-top: 20px;
        }

        p{
            color: $grayColor;
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .partfolio-card_big{
        h4{
            font-size: 28px;
        }
    }

    .partfolio-card_small{
        h4{
            font-size: 20px;
        }
    }
}

.slider-component{
    width: 100%;
    position: relative;

    .slider-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 402px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slider-arrows{
        position: absolute;
        top: 180.5px;
        left: 34px;
        width: calc(100% - 68px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slider-arrow{
            width: 41px;
            height: 41px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: $blueColor;
            border-radius: 50%;
        }
    }

    .slider-text{
        margin-top: 26px;
        text-align: center;
        font-size: 16px;
        color: $blackColor;
    }

    .slider-miniatures{
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider-miniature{
            width: 71px;
            height: 71px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $azureColor;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: grayscale(1);
            cursor: pointer;
            transition: 0.3s all ease;

            &:hover{
                filter: grayscale(0);
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .slider-miniature_active{
            filter: grayscale(0);
        }

        .slider-miniature+.slider-miniature{
            margin-left: 21px;
        }
    }
}