@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.box-container {
  width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F9F8FF;
}

.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-component {
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}

.header_main {
  padding: 40px 0 28px 0;
}

.header_page {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-component li {
  font-size: 14px;
}

.navigation-component li a {
  text-decoration: none;
  color: #121212;
}

.navigation-component li a:hover {
  color: #7868E6;
}

.navigation-component li + li {
  margin-left: 40px;
}

.navigation-component .active a {
  color: #7868E6;
}

.btn-component {
  height: 44px;
  padding: 0 20px;
  color: #fff;
  background: #7868E6;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  padding-bottom: 50px;
}

.footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrapper .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-component_footer {
  margin-left: 40px;
}

.footer_margin {
  margin-top: 150px;
}

.header__big {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__big .header__big-text {
  width: 583px;
}

.header__big .header__big-text h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  color: #121212;
}

.header__big .header__big-text p {
  margin-top: 24px;
  color: #929292;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  width: 477px;
}

.header__big .header__big-text .btn-component_header {
  padding: 0 40px;
  font-size: 16px;
  margin-top: 49px;
}

.header__big .header__big-ava {
  position: relative;
}

.header__big .header__big-ava .header__big-ava-round-dashed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 572px;
  height: 572px;
  border-radius: 50%;
  border: 4px dashed #7868E6;
}

.header__big .header__big-ava .header__big-ava-round-dashed .header__big-ava-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 491px;
  height: 491px;
  background: #7868E6;
  border-radius: 50%;
  overflow: hidden;
}

.header__big .header__big-ava .header__big-ava-round-dashed .header__big-ava-round img {
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__big .header__big-ava .header__big-ava-says {
  position: absolute;
  right: 50px;
  top: 50px;
}

.header__big .header__big-ava .header__big-ava-says .header__big-ava-says-text {
  width: 172px;
  padding: 24px 16px;
  font-size: 13px;
  color: #121212;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
          box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
}

.header__big .header__big-ava .header__big-ava-says .header__big-ava-says-triangle {
  position: absolute;
  top: 100%;
  left: 36px;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  border-top: 20px solid #fff;
}

.header__big .header__big-ava .header__big-ava-skills {
  position: absolute;
  left: -49px;
  top: 208px;
  width: 224px;
  padding: 28px;
  -webkit-box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
          box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
  background: #fff;
  border-radius: 8px;
}

.header__big .header__big-ava .header__big-ava-skills .progress-title {
  font-size: 14px;
  color: #121212;
  font-weight: 500;
  margin-bottom: 20px;
}

.header__big .header__big-ava .header__big-ava-skills .progress-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__big .header__big-ava .header__big-ava-skills .progress-block label {
  font-size: 12px;
  color: #121212;
}

.header__big .header__big-ava .header__big-ava-skills .progress-block progress {
  width: 100%;
  margin-top: 5px;
  height: 10px;
}

.header__big .header__big-ava .header__big-ava-skills .progress-block + .progress-block {
  margin-top: 10px;
}

.page-wrapper {
  margin-top: 50px;
}

.section-component {
  width: 100%;
}

.section-component .section-component__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.section-component .section-component__title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  max-width: 495px;
}

.section-component .section-component__title p {
  font-size: 14px;
  color: #929292;
  max-width: 495px;
  margin-top: 7px;
}

.section-component_margin {
  margin-top: 100px;
}

.skill-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill-block .skill-block__card {
  width: 307px;
  height: 276px;
  padding: 40px;
  border-top: 3px solid #7868E6;
  -webkit-box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
          box-shadow: 0px 24px 34px rgba(199, 201, 217, 0.25);
}

.skill-block .skill-block__card h4 {
  font-size: 24px;
  font-weight: 700;
  color: #121212;
  margin-top: 21px;
}

.skill-block .skill-block__card p {
  font-size: 14px;
  color: #929292;
  line-height: 150%;
  margin-top: 12px;
}

.partfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -60px;
}

.partfolio-block .partfolio-card {
  margin-left: 30px;
  margin-top: 60px;
}

.partfolio-block .partfolio-card h4 {
  font-weight: 700;
  color: #121212;
  margin-top: 20px;
}

.partfolio-block .partfolio-card p {
  color: #929292;
  font-size: 14px;
  margin-top: 10px;
}

.partfolio-block .partfolio-card_big h4 {
  font-size: 28px;
}

.partfolio-block .partfolio-card_small h4 {
  font-size: 20px;
}

.slider-component {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-component .slider-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 402px;
  overflow: hidden;
  border-radius: 8px;
}

.slider-component .slider-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-component .slider-arrows {
  position: absolute;
  top: 180.5px;
  left: 34px;
  width: calc(100% - 68px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-component .slider-arrows .slider-arrow {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: #7868E6;
  border-radius: 50%;
}

.slider-component .slider-text {
  margin-top: 26px;
  text-align: center;
  font-size: 16px;
  color: #121212;
}

.slider-component .slider-miniatures {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-component .slider-miniatures .slider-miniature {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #DFDDEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.slider-component .slider-miniatures .slider-miniature:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.slider-component .slider-miniatures .slider-miniature img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-component .slider-miniatures .slider-miniature_active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.slider-component .slider-miniatures .slider-miniature + .slider-miniature {
  margin-left: 21px;
}

.animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation-container #container {
  width: 100%;
  height: 484px;
  background: #DFDDEC;
  position: relative;
}

.animation-container #circle {
  width: 90px;
  height: 90px;
  position: absolute;
  background: #7868E6;
  top: 30px;
  left: 30px;
  border-radius: 50%;
}

.btn-component_animation {
  margin-top: 50px;
}

.interactive-list-component .interactive-list-component__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -52px;
  margin-top: -30px;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card {
  width: 365px;
  margin-left: 52px;
  margin-top: 30px;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-header {
  width: 100%;
  height: 63px;
  background: #F9F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #DFDDEC;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-header input {
  width: 79%;
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  border: none;
  background: transparent;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-header .interactive-list-component__card-header-arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-header .interactive-list-component__card-header-arrow_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body {
  padding: 0;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #DFDDEC;
  position: relative;
  height: 0;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  overflow: hidden;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit {
  position: absolute;
  right: 20px;
  top: 20px;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-menu-btn {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-list {
  margin-top: 15px;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-list .interactive-list-component__card-edit-btn {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F9F8FF;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border: 1px solid #DFDDEC;
  cursor: pointer;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-list .interactive-list-component__card-edit-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-list .interactive-list-component__card-edit-btn + .interactive-list-component__card-edit-btn {
  margin-top: 4px;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-edit .interactive-list-component__card-edit-list-visible {
  height: 85px;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body .interactive-list-component__card-comment {
  height: 100%;
  width: 276px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #121212;
  resize: none;
}

.interactive-list-component .interactive-list-component__wrapper .interactive-list-component__card .interactive-list-component__card-body_active {
  height: 200px;
  padding: 20px;
}

.interactive-list-component-form {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive-list-component-form .interactive-list-component-form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  padding: 30px;
  background: #F9F8FF;
}

.interactive-list-component-form .interactive-list-component-form-block .interactive-list-component-form-block-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.interactive-list-component-form .interactive-list-component-form-block .interactive-list-component-form-block-input label {
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  margin-bottom: 10px;
}

.interactive-list-component-form .interactive-list-component-form-block .interactive-list-component-form-block-input input {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #DFDDEC;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  color: #121212;
}

.interactive-list-component-form .interactive-list-component-form-block .interactive-list-component-form-block-input textarea {
  width: 100%;
  border-radius: 5px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #121212;
  resize: none;
  padding: 15px;
  border: 1px solid #DFDDEC;
}

.interactive-list-component-form .interactive-list-component-form-block .interactive-list-component-form-block-input + .interactive-list-component-form-block-input {
  margin-top: 15px;
}

.interactive-list-component-form .interactive-list-component-form-block .btn-component_form {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */